overrides/INpureProjects/logs/*
overrides/AppliedEnergistics2/recipes/items.csv
overrides/InvTweaksRules.txt
overrides/InvTweaksTree.txt
overrides/localconfig-example.txt
overrides/localconfig.txt
overrides/witchery_debug.cfg
overrides/overrides/oauth.cfg
