overrides/config/INpureProjects/logs/*
overrides/config/AppliedEnergistics2/recipes/*
overrides/config/InvTweaksRules.txt
overrides/config/InvTweaksTree.txt
overrides/config/localconfig-example.txt
overrides/config/localconfig.txt
overrides/config/witchery_debug.cfg
overrides/config/oauth.cfg
