config/INpureProjects/logs/*
config/AppliedEnergistics2/recipes/items.csv
config/InvTweaksRules.txt
config/InvTweaksTree.txt
config/localconfig-example.txt
config/localconfig.txt
config/witchery_debug.cfg
